{% extends "base.html" %}
{% block content %}
<div class="container col-11 p-4 mt-5 bg-dark whyUS animate__animated animate__fadeInUp">
    <h1 class="text-center">Why Us</h1>
    <div class="d-flex WhyusContainer">
        <div>
            <ol class="p-4">
                <li>At Real Time Action Detection, we understand that you have many options when it comes to choosing an
                    app for detecting actions and movements in real-time. That's why we strive to offer a unique and
                    unparalleled experience that sets us apart from the competition.</li>

                <li>One of the biggest reasons to choose Real Time Action Detection is our advanced technology. Our app
                    utilizes the latest artificial intelligence and machine learning algorithms to detect actions and
                    movements with unparalleled accuracy. We continuously update and improve our technology to ensure
                    that we stay ahead of the curve.</li>

                <li>Finally, we offer a range of features and customization options to suit your specific needs. Whether
                    you need to monitor a large area or just a small room, our app can be customized to meet your
                    requirements. We offer a range of subscription options to suit different budgets, and we're always
                    working to improve and add new features.</li>

                <li>In short, Real Time Action Detection offers advanced technology, unparalleled customer service,
                    user-friendly design, and customizable features that set us apart from the competition. Choose us
                    for real-time action detection and experience the peace of mind that comes with knowing your
                    surroundings are secure.</li>
            </ol>
        </div>
        <div class="WhyusImage">
            <img src="/static/images/whyus.jpg" alt="whyus">
        </div>
    </div>
</div>


{% endblock %}